<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    เพิ่มแม่พิมพ์
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">

            <div class="flex flex-col sm:flex-row">
                <div class="flex flex-auto flex-wrap">

                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ประเภทแม่พิมพ์
                                </mat-label>
                                <mat-select [formControlName]="'main_product_category_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกประเภท</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of item1Data" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-2/6 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ตู้เก็บ
                                </mat-label>
                                <mat-select [formControlName]="'product_category_id'" (selectionChange)="somethingChanged($event)">
                                    <mat-option [value]="''">
                                        <span>เลือกตู้เก็บ</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of item2Data" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/6 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ชั้นเก็บ
                                </mat-label>
                                <mat-select [formControlName]="'product_category_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกชั้นเก็บ</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of item2Data" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/6 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ช่องเก็บ
                                </mat-label>
                                <mat-select [formControlName]="'product_category_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกช่องเก็บ</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of item2Data" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-3" *ngIf="max">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ขอบล้อ
                                </mat-label>
                                <mat-select [formControlName]="'size_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกขอบล้อ</span>
                                    </mat-option>
                                    <mat-optgroup label="ขอบขนาด 15">
                                        <mat-option *ngFor="let item of itemMaxData.max15" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                    <mat-optgroup label="ขอบขนาด 16">
                                        <mat-option *ngFor="let item of itemMaxData.max16" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                    <mat-optgroup label="ขอบขนาด 17">
                                        <mat-option *ngFor="let item of itemMaxData.max17" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                    <mat-optgroup label="ขอบขนาด 18">
                                        <mat-option *ngFor="let item of itemMaxData.max18" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Name, SKU & etc. -->
                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อเต็ม
                                </mat-label>
                                <input matInput [formControlName]="'name'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <mat-form-field class="w-full">
                            <mat-label class="font-bold">รายละเอียด</mat-label>
                            <textarea matInput rows="4" [formControlName]="'description'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col w-full lg:w-2/4 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ราคาหลอก
                                </mat-label>
                                <input matInput [formControlName]="'price'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-2/4 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ราคาจริง
                                </mat-label>
                                <input matInput [formControlName]="'sale_price'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Youtube
                                </mat-label>
                                <input matInput [formControlName]="'youtube'">
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <div class="border-t border-gray-200">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class=" flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 120px; justify-content: center;" (change)="onSelect($event)">
                                        <ngx-dropzone-label>รูปภาพหลัก</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </dd>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-3">
                        <div class="border-t border-gray-200">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class=" flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 120px; justify-content: center;" (change)="onSelect2($event)">
                                        <ngx-dropzone-label>รูปภาพเสริม</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files2" [removable]="true" [file]="f" (removed)="onRemove2(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button href="product/list">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="create()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>

    </div>
</div>