<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    สร้างแม่พิมพ์
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form [formGroup]="formData">
            <div class="flex-auto p-6 sm:p-10">
                <div class="grid gap-4 sm:grid-cols-1 w-full md:grid-cols-1">
                    <div class="bg-card rounded-xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                        <div class="-mx-3 md:flex mb-6">
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field  class="w-full">
                                    <mat-label>ประเภทแม่พิมพ์</mat-label>
                                    <mat-select  formControlName="category_product_id">
                                        <mat-option *ngFor="let item of blogData;" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>รหัสแม่พิมพ์</mat-label>
                                    <input matInput [placeholder]="'รหัสแม่พิมพ์'" formControlName="code">
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>ชื่อแม่พิมพ์</mat-label>
                                    <input matInput [placeholder]="'ชื่อแม่พิมพ์'" formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>ตู้เก็บ</mat-label>
                                    <mat-select (selectionChange)="onChangeShelf($event.value)" formControlName="shelve_id">
                                        <mat-option *ngFor="let item of shelfData;" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>ชั้น</mat-label>
                                    <mat-select (selectionChange)="onChangeFloor($event.value)" formControlName="floor_id" >
                                        <mat-option *ngFor="let item of floorData;" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>ช่อง</mat-label>
                                    <mat-select formControlName="channel_id" >
                                        <mat-option *ngFor="let item of chanelData;" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>ปี</mat-label>
                                    <input matInput [placeholder]="'ปี'" formControlName="year" >
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>รหัสลูกค้า</mat-label>
                                    <input matInput [placeholder]="'รหัสลูกค้า'" formControlName="client_code">
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>จำนวน</mat-label>
                                    <input matInput [placeholder]="'จำนวน'" formControlName="qty">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="md:w-full px-3 mb-6 md:mb-0">
                                <mat-form-field class="w-full">
                                    <mat-label>รายละเอียด</mat-label>
                                    <textarea matInput [placeholder]="'กรอกรายละเอียดเพิ่มเติม'" [rows]="5" formControlName="detail"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="md:w-full px-3 mb-6 md:mb-0">
                                <div class=" flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 150px; justify-content: center;"
                                        (change)="onSelect($event)">
                                        <ngx-dropzone-label>รูปภาพ</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true"
                                            [file]="f" (removed)="onRemove(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-end w-full border-t px-8 py-4">
                            <div class="flex items-center justify-end">
                                <a class="ml-4" mat-flat-button routerLink="/product/list">
                                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                                    ยกเลิก
                                </a>
                                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="create()">
                                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                                    ยืนยัน
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
