<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขตู้
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-2">
        <form class="flex flex-col p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">

                <div class="flex flex-auto flex-wrap">
                    <!-- Name, SKU & etc. -->
                    <div class="flex flex-row w-full lg:w-2/4">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8 justify-center" *ngIf="files.length === 0">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class=" flex flex-wrap justify-center">

                                    <img alt="gallery" class="block object-fill h-full w-150 rounded-lg object-center" [src]="this.url_path" />
                                </div>
                            </dd>

                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/4">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                                <!--firstname and lastname-->
                                <div class="flex">
                                    <mat-form-field class="w-full">
                                        <mat-label class="font-bold">ชื่อตู้
                                        </mat-label>
                                        <input matInput [formControlName]="'name'">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label class="font-bold">รายละเอียด</mat-label>
                                    <textarea matInput rows="4" [formControlName]="'detail'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">

                                <div class="border-t border-gray-200">
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <div class=" flex flex-wrap justify-start">
                                            <ngx-dropzone class="max-h-40 w-full" (change)="onSelect($event)">
                                                <ngx-dropzone-label>รูปตู้</ngx-dropzone-label>
                                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                                </ngx-dropzone-image-preview>
                                            </ngx-dropzone>
                                        </div>
                                    </dd>
                                </div>
                            </div>
                            <div class="flex items-center justify-end w-full border-t py-4">
                                <div class="flex items-center justify-end">
                                    <a class="ml-4" mat-flat-button [routerLink]="['/shelf/list']">
                                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                                        ยกเลิก
                                    </a>
                                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                                        ยืนยัน
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="flex-auto">
        <div class="flex items-center justify-end w-full border-t px-10 py-4">
            <div class="flex items-center justify-end">
                <button class="px-6 mat-primary" mat-flat-button (click)="newFloor(this.itemData.id)">
                    เพิ่มชั้นเก็บของ
                </button>
            </div>
        </div>
        <div class="flex items-center justify-end w-full  px-5 py-4 mb-50">
            <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
                <table class="w-full text-m text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-lx text-center text-white uppercase bg-gray-500 dark:bg-gray-100 dark:text-gray-100 h-10">
                        <tr>
                            <th>
                                <button mat-button (click)="expandFunction()">
                                    <mat-icon class="text-white" svgIcon="heroicons_outline:chevron-right"></mat-icon>
                                </button>
                            </th>
                            <th>ลำดับ</th>
                            <th>ชื่อชั้น</th>
                            <th>รายละเอียด</th>
                            <th>วันที่สร้าง</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let item of dataRow; let i = index">
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-center">
                                <td style="width: 5%" (click)="
                                    dataRow[i].channels.isExpanded =
                                      !dataRow[i].channels.isExpanded
                                  ">
                                    <i *ngIf="!dataRow[i].channels.isExpanded"><mat-icon
                                            svgIcon="heroicons_outline:chevron-right"></mat-icon></i>
                                    <i *ngIf="dataRow[i].channels.isExpanded"><mat-icon
                                            svgIcon="heroicons_outline:chevron-up"></mat-icon></i>
                                </td>
                                <td style="width: 5%">
                                    {{i + 1}}
                                </td>
                                <td style="width: 15%">{{ item?.name }}</td>
                                <td style="width: 20%">
                                    {{ item?.detail}}
                                </td>
                                <td>
                                    {{ item?.created_at | date : "dd-MM-yyyy hh:mm a " }}
                                </td>
                                <td style="width: 15%">
                                    <button mat-button (click)="newChanel(item)">
                                        <mat-icon svgIcon="library_add"></mat-icon>
                                    </button>
                                    <button mat-button (click)="editData(item)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <ng-container *ngIf="dataRow[i].channels.isExpanded">
                                <tr class="text-lx text-center text-white uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-400 h-10">
                                    <th></th>
                                    <th>ลำดับ</th>
                                    <th>ชื่อช่อง</th>
                                    <th>รายละเอียด</th>
                                    <th>วันที่สร้าง</th>
                                    <th>จัดการ</th>
                                </tr>
                                <tr class="text-lx text-center text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400 h-10  border-b" *ngFor="
                                    let chanel of dataRow[i].channels;
                                    let j = index
                                  ">
                                    <td style="width: 5%">

                                    </td>
                                    <td style="width: 5%">
                                        {{j + 1}}
                                    </td>
                                    <td style="width: 15%">{{ chanel?.name }}</td>
                                    <td style="width: 20%">
                                        {{ chanel?.detail}}
                                    </td>
                                    <td>
                                        {{ chanel?.created_at | date : "dd-MM-yyyy hh:mm a " }}
                                    </td>
                                    <td style="width: 15%">
                                        <button mat-button (click)="editChanel(chanel)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-button (click)="viewProduct(chanel)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="text-lx text-center text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400 h-10  border-b" *ngIf="dataRow[i]?.channels.length == 0">
                                    <td colspan="6" *ngIf="dataRow[i]?.channels.length == 0">
                                        ไม่มีข้อมูลช่อง
                                    </td>

                                </tr>

                            </ng-container>
                        </tbody>
                    </ng-container>

                </table>
            </div>
        </div>
    </div>

</div>